<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>306883567298-f7la4m45suli3mglpo6prhldt5mf22gg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.306883567298-f7la4m45suli3mglpo6prhldt5mf22gg</string>
	<key>API_KEY</key>
	<string>AIzaSyASVHo-XxNSnuIJCYUd6Lv67MvXo4Xyl18</string>
	<key>GCM_SENDER_ID</key>
	<string>306883567298</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dialog-system</string>
	<key>PROJECT_ID</key>
	<string>dialogsystem-7767f</string>
	<key>STORAGE_BUCKET</key>
	<string>dialogsystem-7767f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:306883567298:ios:f7965fe62aeaebc4</string>
	<key>DATABASE_URL</key>
	<string>https://dialogsystem-7767f.firebaseio.com</string>
</dict>
</plist>